// Fonts
$main-font: "Proxima Nova Rg", sans-serif;
$light: "Proxima Nova Lt";

// Brand
$blue: #2499E4;
$black: #131313;

// Options
$trans: 0.34s;

$main-bg: #0A1329;

$gray: rgba(255, 255, 255, .2);