<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Smart RP</title>
  <meta name="theme-color" content="#fff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
  <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
  <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <!-- Header -->
  @@include("../blocks/modules/header/header.html", {
    "homeIsActive": '',
      "ratingIsActive": 'active',
      "aboutIsActive": '',
      "donatIsActive": '',
      "newsHref": '/#news',
  })


  <!-- Main -->
  <main class="main">
    <!-- Jumb -->
    <section class="form-page section section--rating">
      <div class="container w-100">
        <h2 class="section__title rating__title text-center" data-back-font='рейтинг проекта'>
          Самые <span class="section__title-blue">богатые</span> игроки
        </h2>

        <div class="rating font-bg font-bg--rating" data-back-font-af='CRIMINAL RUSSIA' data-back-font-bf="smart rp">
          <div class="rating-tabs">
            <div class="rating-tabs__item active" data-tab-target='1'>Сервер 1</div>
            <div class="rating-tabs__item" data-tab-target='2'>Сервер 2</div>
            <div class="rating-tabs__item" data-tab-target='3'>Сервер 3</div>
          </div>
          <div class="rating-tab active" data-tab='1' style='display: block;'>
            <div class="rating-main">
              <div class="rating-main__item rating-main__second" data-aos-delay="500" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">2</div>
                <div class="rating-main__name">Nick NAME</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
              <div class="rating-main__item rating-main__first" data-aos-delay="1000" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">
                  <img src="img/svg/trophy.svg" alt=""> 01
                </div>
                <div class="rating-main__name">Nick NAME</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
              <div class="rating-main__item rating-main__third" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">3</div>
                <div class="rating-main__name">Nick NAME</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
            </div>
            <ul class="rating-list">
              <li class="rating-list__head">
                <div class="rating-list__head-caption">Позиция</div>
                <div class="rating-list__head-caption">Ник</div>
                <div class="rating-list__head-caption">Сумма</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">04</div>
                <div class="rating-list__name">Kirill_Arefyew</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">05</div>
                <div class="rating-list__name">Kirill_Arefyew</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">06</div>
                <div class="rating-list__name">Kirill_Arefyew</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">07</div>
                <div class="rating-list__name">Kirill_Arefyew</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">08</div>
                <div class="rating-list__name">Kirill_Arefyew</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">09</div>
                <div class="rating-list__name">Kirill_Arefyew</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">10</div>
                <div class="rating-list__name">Kirill_Arefyew</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
            </ul>
          </div>

          <div class="rating-tab" data-tab='2'>
            <div class="rating-main">
              <div class="rating-main__item rating-main__second" data-aos-delay="500" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">02</div>
                <div class="rating-main__name">test 2</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
              <div class="rating-main__item rating-main__first" data-aos-delay="1000" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">
                  <img src="img/svg/trophy.svg" alt=""> 01
                </div>
                <div class="rating-main__name">test 2</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
              <div class="rating-main__item rating-main__third" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">03</div>
                <div class="rating-main__name">test 2</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
            </div>
            <ul class="rating-list">
              <li class="rating-list__head">
                <div class="rating-list__head-caption">Позиция</div>
                <div class="rating-list__head-caption">Ник</div>
                <div class="rating-list__head-caption">Сумма</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">04</div>
                <div class="rating-list__name">test 2</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">05</div>
                <div class="rating-list__name">test 2</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">06</div>
                <div class="rating-list__name">test 2</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">07</div>
                <div class="rating-list__name">test 2</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">08</div>
                <div class="rating-list__name">test 2</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">09</div>
                <div class="rating-list__name">test 2</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">10</div>
                <div class="rating-list__name">test 2</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
            </ul>
          </div>

          <div class="rating-tab" data-tab='3'>
            <div class="rating-main">
              <div class="rating-main__item rating-main__second" data-aos-delay="500" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">02</div>
                <div class="rating-main__name">test 3</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
              <div class="rating-main__item rating-main__first" data-aos-delay="1000" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">
                  <img src="img/svg/trophy.svg" alt=""> 01
                </div>
                <div class="rating-main__name">test 3</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
              <div class="rating-main__item rating-main__third" data-aos="flip-up" data-aos-duration="1200">
                <div class="rating-main__num">03</div>
                <div class="rating-main__name">test 3</div>
                <div class="rating-main__value">300000000000₽</div>
              </div>
            </div>
            <ul class="rating-list">
              <li class="rating-list__head">
                <div class="rating-list__head-caption">Позиция</div>
                <div class="rating-list__head-caption">Ник</div>
                <div class="rating-list__head-caption">Сумма</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">04</div>
                <div class="rating-list__name">test 3</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">05</div>
                <div class="rating-list__name">test 3</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">06</div>
                <div class="rating-list__name">test 3</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">07</div>
                <div class="rating-list__name">test 3</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">08</div>
                <div class="rating-list__name">test 3</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-right" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">09</div>
                <div class="rating-list__name">test 3</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
              <li class="rating-list__item" data-aos="fade-left" data-aos-duration="900" data-aos-offset="200">
                <div class="rating-list__num">10</div>
                <div class="rating-list__name">test 3</div>
                <div class="rating-list__value">300000000000₽</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  @@include("../blocks/modules/footer/footer.html")
  <script src="js/main.js"></script>
  <script src="js/vendor.js"></script>
</body>

</html>