.container {
  @include container();
  @include md(max-width, rem(690));
  @include lg(max-width, rem(1024));
}

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  color: #fff;
  background-color: $main-bg;

  &.lock {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: $trans;
  display: inline-block;
  &:hover {
    color: $blue;
  }
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.upper {
  text-transform: uppercase;
}

.trans {
  transition: $trans;
}

.nowrap {
  white-space: nowrap;
}

.row-flex {
  @include row-flex();
}

.row-reverse {
  flex-flow: row-reverse;
}

.col {
  @include col();
}

.flex {
  display: flex;
  &-wrap {
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
  &-inline {
    display: inline-flex;
  }
}

.j {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: flex-end;
  }
}

.a {
  &-center {
    align-items: center;
  }
}

.w-100 {
  width: 100%;
}

.btn {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: $trans;
  border-radius: 40px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: $light;
  font-weight: 600;
  text-transform: uppercase;

  &.disabled {
    filter: grayscale(100%);
    pointer-events: none;
  }
  &_blue {
    color: #fff;
    background-color: #5cbafb;
    background-image: linear-gradient(
      -93deg,
      #03b8ff 0%,
      #03b8ff 1%,
      #0278ff 99%,
      #0278ff 100%
    );
    box-shadow: 0 0 45px 2px rgba($blue, 0.4);

    &:hover{
      color: #fff;
    }
  }
  &_trans {
    position: relative;
    color: #fff;
    border: 1px solid $gray;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: $trans;
      border-radius: 50px;
      background-color: #0086ff;
      background-image: linear-gradient(
        to left,
        #0278ff 0%,
        #0278ff 1%,
        #03b8ff 99%,
        #03b8ff 100%
      );
    }
    &:hover {
      color: #fff;
      border-color: #03b8ff;
      box-shadow: 0 0 15px 1px rgba($blue, 0.5);
      opacity: .99;
      &:before {
        opacity: 1;
      }
    }
  }
  &_orange {
    padding: 0 22px;
    color: #fff;

    background: linear-gradient(
      90deg
      , #F5BC00 0%, #F99709 100%);
    box-shadow: 0 0px 40px -10px #f1a540;
  }
  // &-icon {
  //   display: flex;
  //   align-items: center;
  //   padding: 8px;
  //   @include sm-block {
  //     padding: 5px;
  //   }
  // }
  &__icon {
    width: 62px;
    height: 62px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 28px;
    @include sm-block {
      width: 36px;
      height: 36px;
      margin-right: 15px;
    }
  }

  &_blue,
  &_trans,
  &_orange {
    @media (any-hover: hover) {
      &:hover{
        transform: scale(1.05);
      }
    }
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 39px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #8FA1BD;
  font-size: 15px;
  line-height: 13px;
  a {
    color: #8FA1BD;
    text-decoration: underline;
    &:hover {
      color: $blue;
    }
  }
  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      & ~ .checkbox__mark {
        &:after {
          display: block;
        }
      }
    }
  }
  &__mark {
    position: absolute;
    top: -8px;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #101A34;
    border-radius: 5px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 10px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid #8FA1BD;
      border-width: 0 2px 2px 0;
      border-radius: 1px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.input {
  border: none;
  background: none;
  outline: none;
  padding: 27px 49px 27px 30px;
  transition: $trans;
  border-radius: 45px;
  background-color: #101A34;
  height: 75px;
  font-size: 15px;
  border: 1px solid transparent;
  color: #A5BFFF;
  &::placeholder {
    color:#8FA1BD;
  }
  &:focus {
    border-color: $blue;
    box-shadow: 0 0 10px 1px rgba($blue, 0.5);
  }
  &__label {
    color: #383838;
    font-size: 20px;
    font-weight: 500;
    display: block;
  }
  &__caption {
    color: #383838;
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
  }
  // input-wrapper
  &-wrapper {
    position: relative;

    &:after {
      opacity: 0;
      content: attr(data-text-error);
      position: absolute;
      font-family: $light;
      font-size: 120px;
      white-space: nowrap;
      width: min-content;
      padding: 20px 0px 20px 10px;
      display: inline-block;
  
      color: #F16464;
      font-size: 12px;
      background: #101A34;
      right: 36px;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity .3s;
    }

    &.error {
      &:after{
        opacity: 1;        
      }
    }
  }
}

.group {
  margin-bottom: 15px;
}

.hidden {
  &-sm {
    @include sm-block {
      display: none;
    }
  }
  &-md {
    @include md-block {
      display: none;
    }
  }
}

@import './font-bg';

// /////////////////
.sections-wrap {
  position: relative;
  overflow: hidden;
  background-image: url('../img/bg/bg-main.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include md-block{
    background-image: url('../img/bg/bg-main-mobile.png');
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 120%;
  }
}

@import './section';

.scene {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  &__layer {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    &--phone {
      position: absolute;
      z-index: 10;
      padding-left: 57%;
      top: 20vh;
      margin-top: 70px;

      @include lg-block{
        display: none;
      }
    }
  }

  &__bg {
  }
}


.select {
  position: relative;
  cursor: pointer;
  color: #A5BFFF;
  select,
  &-hide {
    display: none;
  }
  &-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #101A34;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
    border: 2px solid $blue;
    div {
      padding: 12px 15px;
      // transition: $trans;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
      & + div {
        border-top: 1px solid $blue;
      }
    }
  }
  &-selected {
    display: flex;
    align-items: center;
    &.placeholder {
      color: #8FA1BD;
    }
    &:after {
      position: absolute;
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 25px;
      height: 13px;
      transition: $trans;
      transform-origin: center;
      background: url("../img/dropdown.png") center no-repeat;
      background-size: contain;
      @include sm-block {
        width: 16px;
        height: 8px;
      }
    }
    &.select-arrow-active {
      &:after {
        transform: rotate(180deg) translateY(7px);
        transform-origin: center;
      }
    }
  }
}

.form-page {
  position: relative;
  padding: 205px 0 135px;
  &>.scene {
    max-height: 100vh;
  }
  @include md-block {
    padding-top: 160px;
    padding-bottom: 170px;
  }
  &__title {
    @include sm-block {
      font-size: 24px;
    }
    &:before {
      @include sm-block {
        font-size: 64px;
        bottom: 0;
      }
    }
  }
  &__checkbox {
    position: relative;
    margin: 30px 0;
    @include sm-block {
      margin: 15px 0 30px;
      font-size: 10px;
    }
    &:before {
      content: "";
      position: absolute;
      background: url("../img/form-page-dash.png") center no-repeat;
      background-size: contain;
      top: 0;
      right: 0;
      transform: translate(100%, -60%);
      width: 54px;
      height: 106px;
      @include sm-block {
        display: none;
      }
    }
  }
  &__caption {
    color: #8FA1BD;
    font-size: 20px;
    font-family: $light;
    font-weight: 400;
    margin-top: 40px;
    @include sm-block {
      font-size: 15px;
      margin-top: 28px;
    }
  }
  &__form {
    max-width: 440px;
    width: 100%;
    margin: 35px auto 0;
    @include sm-block {
      margin-top: 30px;
    }
  }
  &__btn {
    padding: 0 40px;
    height: 75px;
    color: #ffffff;
    font-size: 20px;
    margin-top: 15px;
    @include sm-block{
      margin-top: 55px;
    }

    &--donat {
      margin-top: 0px;
      @include sm-block{
        margin-top: 0;
      }
    }
  }
  &__currency {
    color: #181818;
    font-family: $light;
    margin-top: 90px;
    font-size: 19px;
    font-weight: 600;
    @include sm-block {
      font-size: 12px;
      margin-top: 60px;
    }
    &-line {
      & + & {
        margin-top: 22px;
        @include sm-block {
          margin-top: 15px;
        }
      }
    }
  }
}

.jumb {
  position: relative;
  min-height: 100vh;
  padding: 25vh 0 75px;

  @media screen and (max-width: rem(1200)) {
    padding-top: 260px;
  }

  @include lg-block{
    padding-top: 155px;
  }

  &__bg {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    pointer-events: none;

    background-size: cover;

    &--blur {
      background-image: url('../img/bg/bg-jumb-blur.png');
      z-index: 2;

      @include lg-block{
        background-image: url('../img/bg/bg-jumb-blurTextContur.png');
        background-size: contain;
        background-position: bottom -390px right;
        background-repeat: no-repeat;
      }
    }
    &--contur {
      background-image: url('../img/bg/bg-jumb-contur.png');
      z-index: 1;

      @include lg-block{
        display: none;
      }
    }
  }

  &-scene-2 {
    max-height: 100vh;
  }

  // .jumb__body
  &__body {
  }
  // .jumb__col-left
  &__info {
    @include size(7);

    position: relative;
    
    margin-bottom: 88px;

    @include lg-block{
      @include size(12);
      text-align: center;
      margin-bottom: 0;
    }
  }
  &__fake {
    @include size(5);
    @include lg-block {
      @include size(12);
      display: flex;
      justify-content: center;
      padding: 60px 0px 60px 0;
    }

  }
  // .jumb__row
  &__server {
    @include size(12);
    position: relative;
    z-index: 2;
  }
  // .jumb__title
  &__title {
    @include sm-block{
      font-size: 26px;
    }
    @media screen and (max-width: rem(375)) {
      font-size: 22px;
    }
  }
  // .jumb__sbtitle
  &__subtitle {
    font-size: 25px;
    line-height: 27px;
    text-transform: uppercase;

    @include sm-block{
      font-size: 16px;
    }
    @media screen and (max-width: rem(375)) {
      font-size: 14px;
    }
  }
  // .jumb__buttons
  &__buttons {
    display: grid;
    grid-template-columns: 292px 292px;

    @include lg-block{
      grid-template-columns: 267px;
      justify-content: center;
    }
  }
  // .jumb__btn 
  &__btn {
    width: 100%;
    height: 75px;

    &--blue {
      font-size: 22px;
    }

    &--play {
      font-size: 20px;
      font-weight: 400;
      color: #fff;

      &-icon {
        margin-right: 15px;
        border-radius: 50%;
        transition: box-shadow 0.3s ease-in-out;
      }
    }

    @media (any-hover: hover) {
      &:hover{
        .jumb__btn--play-icon {
          box-shadow: 0 0 20px 2px rgba($blue, 0.8);
        }
      }
    }
  }
  &__btn-orange {
    height: 53px;
    position: relative;
    z-index: 2;

    font-size: 15px;
  }

  &__mobile {
    position: relative;

    &--fake {
      display: none;
    }

    @include lg-block{
      display: flex;
      justify-content: center;
      text-align: center;
    }

    &-btn {
      height: 53px;
      position: absolute;
      z-index: 2;
      top: 20px;
      margin-left: -40px;
      pointer-events: all;

      @include lg-block{
        margin: 0;
        top: -18px;
      }
    }
  }
}

.jumb-server {
  // .jumb-server__title
  &__title {
    margin-bottom: 20px;

    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;

    @include lg-block{
      text-align: center;
    }
  }
  // .jumb-server__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 300px));
    gap: 15px;

    @include lg-block{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  // .jumb-server__list-item
  &__list-item {
    display: flex;
    align-items: center;
    padding: 20px 16px;

    position: relative;

    background-color: #101A34;
    border-radius: 20px;

    @include lg-block{
      min-width: 267px;
    }
  }
  // .jumb-server__list-circle-numbers
  &__list-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;

    width: 59px;
    height: 59px;

    font-weight: 600;
    font-size: 25px; 

    background: linear-gradient(180deg, #2499E4 0%, #1C6EDD 100%);
    border-radius: 50%;
    
    &:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      display: inline-block;
      width: 59px;
      height: 59px;

      background: linear-gradient(180deg, #2499E4 0%, #1C6EDD 100%);
      filter: blur(45px);
    }
  }

  // .jumb-server__list-body
  &__list-body {
    margin-left: 20px;
  }
  // .jumb-server__list-name
  &__list-name {
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
  }
  // .jumb-server__list-online
  &__list-online {
    font-size: 15px;
    font-weight: 400;
  }
  &__list-bonus {
    position: absolute;
    right: -4px;
    top: -4px;
    transform: rotate(-9.42deg);
  }
  &__list-bonus-inner {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 25px;
    height: 25px;

    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    
    background-color: #FF9900;
    border-radius: 5px;

    &:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      display: inline-block;
      width: 24px;
      height: 24px;

      background: #FF9900;
      opacity: 0.6;
      filter: blur(25px);
    }
  }
}



// ---------- SECTION NEWS

.bg-text {
  position: relative;

  &:after,
  &:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 164px;
    background-repeat: no-repeat;

    @include lg-block{
      background-size: 90%;
    }

    @include md-block{
      display: none;
    }
  }


  &--jumb {
    &:before{
      background-image: url('../img/bg/jumb-bg-text-1.png');
      top: 22%;
      left: 50%;
      height: 237px;
      width: 1711px;
      transform: translateX(-64%);
    }
    &:after{
      background-image: url('../img/bg/jumb-bg-text-2.png');
      bottom: 20%;
      left: 62%;
      z-index: 2;

      @include lg-block{
        display: none;
      }
    }
  }
}

.news {
  padding-top: 100px;
  padding-bottom: 105px;

  @include sm-block {
    padding-bottom: 30px;
    padding-top: 20px;
    .section__title::before {
      font-size: 86px;
      bottom: 0;
    }
  }
  &__preview {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
  }
  &__item {
    @include size(4);
    @include size-md(12);
    box-shadow: 0 25px 57px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    background-color: #101A34;
    overflow: hidden;
    max-width: 340px;  
    @include md-block {
      & + & {
        margin-top: 30px;
      }
    }
  }
  &__info {
    padding: 25px 28px 37px;
  }
  &__title {
    margin-bottom: 25px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__list {
    margin-top: 100px;
    justify-content: center;

    @include md-block{
      margin-top: 40px;
      padding: 0 15px;
    }
  }
  &__descr {
    font-size: 15px;
    line-height: 136.8%;
    margin-bottom: 33px;
  }
  &__date {
    color: #8FA1BD;
    font-size: 15px;
  }
  &__detail {
    padding: 14px 32px;
    
    font-size: 15px;
  }
}

// -------- Section Contacts
.contacts {
  padding-top: 105px;
  padding-bottom: 160px;

  @include md-block {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  @include sm-block {
    padding-bottom: 40px;
    padding-top: 35px;
  }

  &__preview {
    margin-top: 100px;
  }

  &__mobile {
    margin-top: 38px;
  }
}

.contacts-preview {
  display: flex;
  justify-content: center;

  @include md-block{
    display: none;
  }

  &__block {
    position: relative;
  }

  &__phone-wrapper {
    position: relative;
    z-index: 2;
    
    &:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background: #0079C7;
      opacity: 0.15;
      filter: blur(150px);
    }

    @include lg-block{
      max-width: 260px
    }
  }

  // &__phone {
  // }

  &__card {
    border-radius: 20px;
    padding: 25px 30px;

    position: absolute;
    z-index: 1;
    min-width: 408px;

    &--left {
      bottom: 100px;
      right: 90%;
      transform: rotate(7.75deg);

      background: linear-gradient(90deg, #1C6EDD 0%, #0A1329 100%);

      @include lg-block{
        right: 70%;
      }
    }

    &--right {
      text-align: right;
      background: linear-gradient(-90deg, #1C6EDD 0%, #0A1329 100%);
      background-size: 100%;

      bottom: 360px;
      left: 90%;
      transform: rotate(-9.23deg);

      @include lg-block{
        bottom: 260px;
        left: 70%;
      }

      &:before{
        content:'';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        background-image: url('../img/discord.svg');
        background-position: bottom -40px right -100px;
        background-repeat: no-repeat;
        background-size: 92%;
        width: 100%;
        height: 100%;
        opacity: 0.1;
      }

      .contacts-preview__card-icon {
        margin-left: auto;
      }

      .contacts-preview__card-subscribe {
        flex-direction: row-reverse;
      }

      .contacts-preview__card-followers {
        margin: 0px 10px 0px 0px;
        font-size: 12px;
      }
    }
  }
  &__card-icon {
    margin-bottom: 15px;

    display: block;
    height: 81px;
    width: 81px;
  }
  &__card-name {
    margin-bottom: 16px;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__card-subscribe {
    display: flex;
    align-items: center;

    @include md-block{
      justify-content: space-around;
    }
  }
  &__card-btn {
    height: 52px;
    padding: 0 26px;

    font-size: 15px;

    @include md-block{
      padding: 0 18px;
    }
  }
  &__card-followers {
    margin-left: 10px;

    font-size: 12px;
    color: rgba(#fff, 0.6);
  }
  // 
}

.contacts-mobile {
  display: none;
  flex-direction: column;
  align-items: center;

  @include md-block{
    display: flex;
  }
  
  &__item {
    text-align: center;
    max-width: 382px;
    width: 100%;

    background-color: #101A34;
    border-radius: 20px;

    margin-top: 30px;
    padding: 21px 30px 24px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2n) {
      .contacts-preview__card-subscribe {
        flex-direction: row-reverse;
      }
      .contacts-preview__card-followers {
        margin: 0px 10px 0px 0px;
      }
    }


  }
  &__img-wrapper {
    width: 81px;
    height: 81px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto 5px;

    &:before{
      content:'';
      position: absolute;
      width: 81px;
      height: 81px;
      opacity: 0.5;
      background: linear-gradient(180deg, #2499E4 0%, #1C6EDD 100%);
      filter: blur(45px);
    }
  }
}


// ---------

.cabinet {
  position: relative;
  padding: 205px 0 135px;
  @include md-block {
    padding-top: 161px;
    padding-bottom: 97px;
  }
  &__title {
    @include sm-block {
      font-size: 24px;
    }
    &:before {
      @include sm-block {
        font-size: 74px;
        bottom: 0;
      }
    }
  }
  &__inner {
    position: relative;
    padding: 33px 127px 33px 40px;
    border-radius: 25px;
    background-color: #101A34;
    max-width: 913px;
    width: 100%;
    margin: 76px auto 0;
    z-index: 1;
    @include md-block {
      margin-top: 55px;
      padding: 40px 28px 45px 28px;
    }

    @include md-block {
      display: block;
    }

    @include sm-block {
      padding: 20px 22px 44px;
    }
  }
  &__exit {
    position: absolute;
    right: -30px;
    top: -30px;
    width: 60px;
    height: 60px;
    padding: 0;
    background: linear-gradient(180deg, #2499E4 0%, #1C6EDD 100%);
    @include sm-block {
      right: 0;
      top: -20px;
    }
    img {
      width: 22px;
      height: 22px;
      margin-left: 5px;
      @include sm-block {
        width: 14px;
        height: 14px;
      }
    }
  }
  &__subtitle {
    font-family: $light;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 21px;
    text-transform: uppercase;
    padding-top: 7px;
    @include md-block {
      text-align: center;
      font-size: 22px;
      padding-top: 0;
    }
  }

  &__user {
    width: 60%;
    padding-right: 25px;
    @include md-block {
      width: 100%;
      padding-right: 0;
    }
  }
  &__autopark {
    width: 40%;
    @include md-block {
      width: 100%;
    }
  }
}

.user {
  &__name {
    font-family: $light;
    font-size: 20px;
    font-weight: 600;
    margin: 13px 0 18px;
    text-transform: uppercase;
    @include md-block {
      margin-top: 0;
    }
    @include sm-block{
      font-size: 16px;
    }
  }
  &__profile {
    &-wrap {
      @include md-block {
        justify-content: center;
      }
    }
  }
  &__photo {
    width: 128px;
    height: 128px;
    background-color: #1D2948;
    border-radius: 50%;
    margin-right: 17px;
    flex-shrink: 0;
    @include lg-block {
      width: 90px;
      height: 90px;
    }

    --userPhotoSize: 61px;
    @include lg-block {
      --userPhotoSize: 26px;
    }

    &-inner {
      position: relative;
      height: var(--userPhotoSize);
      width: var(--userPhotoSize);
      background-color: #1D2948;
      border-radius: 50%;
      @include lg-block {
        width: 63px;
        height: 63px;
      }

      &:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        height: var(--userPhotoSize);
        width: var(--userPhotoSize);
        filter: blur(35px);
        display: block;

        background-color: $blue;
      }

    }
    img {
      height: var(--userPhotoSize);
      width: var(--userPhotoSize);
    }
  }
  &__info {
    margin-left: 146px;
    @include md-block {
      margin-left: 0;

      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
  &__row {
    display:  grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 38px;
    
    font-size: 12px;
    font-weight: 600;

    &--solid {
      grid-template-columns: 1fr
    }

    &-key {
      color: #8FA1BD;
      text-transform: uppercase;
    }
    &-value {
      text-transform: uppercase;
      &.alert {
        color: #4EC79B;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;

    margin-top: 28px;
    @include md-block {
      margin-top: 25px;
      // max-width: 320px;
    }
  }
  &__btn-wrapper {
    padding: 6px 0;
  }
  &__btn {
    padding: 16px 26px;
    font-size: 15px;
    background-color: #1D2948;
    color: #8FA1BD;

    span {
      color: #fff;
      margin-left: 10px;
    }
  }
  &__circle {
    &-list {
      margin-top: 0;
      margin-left: 20px;
      @include md-block {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 14px;
      }
    }
    &-row {
      & + & {
        margin-top: 14px;
      }
    }
  }
}

.autopark {
  position: relative;
  min-width: 0;
  counter-reset: autopark;
  padding-left: 40px;
  @include lg-block {
    padding-left: 30px;
  }
  @include md-block {
    padding-left: 0;
    padding-top: 35px;
    margin-top: 52px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #1D2948;
    @include md-block {
      height: 1px;
      top: 0;
      right: 0;
      margin: auto;
      width: 90%;
    }
  }
  &__list {
  }
  &__item {
    display: flex;
    align-items: center;
    border-radius: 31px;
    background-color: #1D2948;
    padding: 7px;
    font-family: $light;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    flex-shrink: 0;
    position: relative;

    @include md-block{
      max-width: 252px;
      margin: 0 auto;
    }

    & + & {
      margin-top: 15px;
    }
    &:before {
      counter-increment: autopark;
      content: counter(autopark);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 47px;
      height: 47px;
      border-radius: 50%;
      color: #ffffff;
      font-family: $light;
      font-size: 20px;
      flex-shrink: 0;
      font-weight: 600;
      background-color: #ffffff;
      background: linear-gradient(180deg, #2499E4 0%, #1C6EDD 100%);
      // box-shadow: 4px 0px 52px 50px rgba(28, 110, 221, 0.1);
      box-shadow: 4px 4px 50px 12px rgba(36, 153, 228, 0.2);
    }
  }
  &__name {
    color: #A0BBFF;
    padding: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
    @include sm-block {
      font-size: 11px;
    }
  }
}

.loader {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  @include sm-block {
    width: 50px;
    height: 50px;
  }
  &-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 7px solid #1D2948;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
  }
}
.spinner-holder-one {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: transparent;
  box-sizing: border-box;
}
.spinner-holder-two {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
}
.loader-spinner {
  color: #fff;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 7px solid $blue;
  box-sizing: border-box;
}
.animate-0-25-a {
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}
.animate-0-25-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}
.animate-25-50-a {
  transform: rotate(180deg);
  transform-origin: 100% 100%;
}
.animate-25-50-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}
.animate-50-75-a {
  transform: rotate(270deg);
  transform-origin: 100% 100%;
}
.animate-50-75-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}
.animate-75-100-a {
  transform: rotate(0deg);
  transform-origin: 100% 100%;
}
.animate-75-100-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}
.circle {
  margin-bottom: 20px;
  background-color: #1D2948;
  border-radius: 50%;

  & + & {
    margin-left: 27px;
  }
  &-text {
    text-align: center;
    color: #fff;
    font-family: $light;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    z-index: 1;

    &:before{
      content:'';
      position: absolute;
      top: -50%;
      left: -50%;
      z-index: -1;

      display: inline-block;
      width: 70px;
      height: 70px;

      background: #2499E4;
      opacity: 0.45;
      filter: blur(15px);
      border-radius: 50%;
    }
  }
  &-caption {
    color: #8FA1BD;
    font-family: $light;
    font-size: 12px;
    font-weight: 400;
    padding-top: 9px;
  }
}

.rating {
  max-width: 960px;
  position: relative;
  margin: auto;
  &__title {
    @include to(rem(365)) {
      font-size: 24px;
    }
  }
  &-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    @include sm-block {
      margin-top: 30px;
      flex-flow: column;
    }
    &__item {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      border: 1px solid $gray;
      padding: 0 36px;
      height: 48px;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 600;
      border-radius: 45px;
      transition: .35s;
      cursor: pointer;
      text-align: center;
      @include sm-block {
        max-width: 146px;
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &:hover {
        color: #5cbafb;
        border-color: #5cbafb;
      }
      & + & {
        margin-left: 12px;
        @include sm-block {
          margin-left: 0;
          margin-top: 8px;
        }
      }
      &.active {
        background: linear-gradient(180deg, #2499E4 0%, #1C6EDD 100%);
        border: transparent;
        color: #fff;
        pointer-events: none;
      }
    }
  }
  &-tab {
    display: none;
  }
  &-main {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    @include sm-block {
      flex-flow: column;
      margin-top: 30px;
    }
    &__item {
      display: flex;
      flex-flow: column;
      width: 32%;
      flex-shrink: 0;
      align-items: center;
      padding: 30px 20px 40px;
      border-radius: 25px;
      height: 290px;

      @include sm-block {
        width: 100%;
        max-width: 300px;
        margin: 0 auto 20px;
      }
      & > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
        max-width: 100%;
      }
    }
    &__num {
      font-size: 35px;
      font-weight: bold;
      display: flex;
      align-items: center;
      height: 66px;
      margin-bottom: 40px;
      img {
        filter: invert(100%) sepia(98%) saturate(8%) hue-rotate(64deg) brightness(104%) contrast(100%);
        width: 38px;
        height: 38px;
        margin-right: 13px;
      }
    }
    &__name {
      margin-bottom: 22px;

      font-size: 22px;
      font-weight: 600;
    }
    &__value {
      font-size: 25px;
      font-weight: bold;
    }
    &__first {
      background-color: #131313;
      background: linear-gradient(90deg, #F5BC00 0%, #F99709 100%);
      box-shadow: 0 0 54px -2px #f1a540;
  
      @include sm-block {
        order: -1;
      }
    }
    &__second {
      background-color: #999696;
      box-shadow: 0 0 40px -10px #999696
    }
    &__third {
      background-color: #c6734d;
      box-shadow: 0 0 40px -10px #c6734d;
    }
  }
  &-list {
    margin-top: 55px;
    @include sm-block {
      margin-top: 20px;
    }
    &__head {
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      @include sm-block {
        display: none;
      }
      & > * {
        flex: 1;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &-caption {
        font-size: 15px;
        color: #fff;
        font-family: $light;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    &__item {
      display: flex;
      align-items: center;
      text-align: center;
      padding: 22px 16px;

      background-color: #101A34;

      color: #fff;
      font-size: 15px;
      font-weight: 600;      
      border-radius: 35px;

      @include sm-block {
        flex-flow: column;
        padding: 15px 12px;
        border-radius: 30px;
        max-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      & > * {
        flex: 1;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      & + & {
        margin-top: 20px;
        @include sm-block {
          margin-top: 15px;
        }
      }
    }
    &__num {
      font-size: 25px;
    }
    &__name {
      @include sm-block {
        margin: 10px 0 14px;
      }
    }
  }
}

.about {
  position: relative;
  z-index: 3;
  padding-top: 84px;

  @include md-block{
    padding-top: 47px;
  }
  &__info-text {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-family: $light;
    line-height: 24px;
    font-size: 15px;
  }

  &__version {
    margin: 68px auto 0;

    max-width: 944px;
    width: 100%;

    display: grid;
    grid-template-columns: minmax(240px, 406px) minmax(240px, 440px);
    justify-content: space-between;
    column-gap: 40px;

    @include md-block{
      grid-template-columns: minmax(240px, 406px);
      justify-content: center;
      row-gap: 100px;
    }
  }

  &__version-col {
    text-align: center;

    @include md-block{
      &:first-child{
        order: 1;
      }
    }
  }
}

.about-version {
  &__image-wrap {
    margin-bottom: 25px;
    height: 296px;

    &--mobile {
      @include md-block{
        transform: rotate(-6.2deg);
        height: auto;
        margin-bottom: 50px;
      }
    }
  }
  &__image-frame-pc {
    border-radius: 24px;
    border: 2px solid $blue;
    height: 234px;

    position: relative;
    background-position: center;

    background-size: 100% 100%;
    transition: background-size .3s ease;

    @media (any-hover: hover) {
      &:hover{
        background-size: 110% 110%
      }
    }

    &:after{
      content:'';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -62px;
      display: block;

      background-image: url('../img/leg-pc.png');
      margin: 0px auto;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;

      width: 204px;
      height: 62px;
    }
  }
  
  &__btn {
    height: 79px;
    width: 290px;
  }
}


.frame-mobile {
  position: relative;
  max-width: 680px;

  @include lg-block{
    max-width: 440px
  }

  &--jumb {
    transform: rotate(-11deg);
  }

  &:after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: #0079C7;
    opacity: 0.35;
    filter: blur(150px);
    transform: rotate(-6.2deg);
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 2% 6% 3% 3%;
    border-radius: 25px;
    background-position: center;

    background-size: 100% 100%;
    transition: background-size .3s ease;

    @include md-block{
      margin-right: 22px;
    }

    @media (any-hover: hover) {
      &:hover{
        background-size: 110% 110%
      }
    }
  }
}
